<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="name">Name</mat-option>
            <mat-option value="email">Email</mat-option>
            <mat-option value="gender">Gender</mat-option>
            <mat-option value="status">Status</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="users">
    <div class="user">
        <div class="user-thumb-container">
            <img src="https://robohash.org/asddas" alt="thumbnail" />
        </div>
        <div class="user-details">
            <p class="user-name">Name</p>
            <p class="user-email">Email</p>
            <p class="user-gender">Gender</p>
            <p class="user-status">Status</p>
        </div>
    </div>
</div>