<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort" (selectionChange)="searchUsers()">
            <mat-option value="name">Name</mat-option>
            <mat-option value="email">Email</mat-option>
            <mat-option value="gender">Gender</mat-option>
            <mat-option value="status">Status</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="users">
    <ng-container *ngFor="let user of users">
        <div class="user">
            <div class="user-thumb-container">
                <img src="https://robohash.org/{{user.id}}" alt="profile-photo" />
            </div>
            <div class="user-details">
                <div *ngIf="user.gender == 'male'">
                    <p class="user-name">
                        {{user.name}}
                        <i class="fa fa-mars"></i>
                    </p>

                </div>
                <div *ngIf="user.gender == 'female'">
                    <p class="user-name">
                        {{user.name}}
                        <i class="fa fa-venus"></i>
                    </p>
                </div>
                <div *ngIf="user.status == 'active'">

                    <p class="user-email"><img class="status-icon" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Basic_green_dot.png" /> {{user.email}}</p>
                </div>
                <div *ngIf="user.status == 'inactive'">

                    <p class="user-email"><img class="status-icon" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Basic_red_dot.png" /> {{user.email}}</p>

                </div>
            </div>
        </div>
    </ng-container>
</div>